* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem;
  background-color: #f2f0f1;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr repeat(7, minmax(-webkit-min-content, 16rem)) 1fr;
  grid-template-columns: 1fr repeat(7, minmax(min-content, 16rem)) 1fr;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
}

.first-nav {
  grid-row: 1/2;
  grid-column: 7/10;
}
.first-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.first-nav-item {
  list-style-type: none;
  font-size: 15px;
}
.first-nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.first-nav-link:hover {
  color: #999999;
}

.second-nav {
  grid-column: 3/8;
  grid-row: 3/4;
}
.second-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.second-nav-item {
  list-style-type: none;
  font-size: 15px;
}
.second-nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.second-nav-link:hover {
  color: #999999;
}

body {
  -webkit-animation: sample 4s linear infinite;
          animation: sample 4s linear infinite;
}

.slideshow {
  grid-column: 1/-1;
  grid-row: 2/3;
  position: relative;
  width: 100%;
  height: 80vh;
}
.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.slideshow-slide img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow-content {
  background-color: rgba(255, 255, 238, 0.9);
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  max-width: 40rem;
  padding: 5rem;
}
.slideshow-content h2 {
  font-size: 35px;
  color: #333;
  font-weight: bold;
}
.slideshow-content p {
  margin: 1rem 0;
  font-size: size(sm);
}

@-webkit-keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes sample {
  0% {
    background-color: purple;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: orangered;
  }
  100% {
    background-color: black;
  }
}
@keyframes sample {
  0% {
    background-color: purple;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: orangered;
  }
  100% {
    background-color: black;
  }
}
.products {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.products-heading {
  margin: 5rem 0;
}
.products-heading-text {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  color: #333;
}
.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  position: relative;
}
.product:hover .product-description {
  transition: all 1s;
  opacity: 1;
  visibility: visible;
}
.product:hover .product-img {
  opacity: 0.5;
}
.product-img {
  width: 100%;
}
.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 238, 0.6);
  padding: 2rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  color: #333;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.product-description-heading {
  font-size: 30px;
}
.product-description-price {
  font-size: 25px;
  font-weight: 300;
  margin: 1rem 0;
}
.product-description-price span {
  font-weight: 600;
}
.product-description-btn {
  text-decoration: none;
  font-size: 35px;
  color: #f5b149;
  display: block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #f5b149;
  background-color: #666666;
}

.products-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-li {
  position: relative;
  transition: opacity 0.3s;
}
.dropdown-li::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}
.dropdown-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 3rem;
  width: 10rem;
  background-color: #e6e2e4;
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
}
.dropdown-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.dropdown-item {
  list-style-type: none;
  font-size: 15px;
}
.dropdown-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.dropdown-link:hover {
  color: #999999;
}
.dropdown-item {
  margin: 0.5rem 0;
}
.dropdown-link {
  font-weight: 300;
  font-size: size(xs);
}

.heading {
  grid-row: 2/3;
  grid-column: 4/7;
  text-align: center;
  font-size: 23px;
}

.logo {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1rem;
}
.logo-img {
  width: 10rem;
  height: 100%;
}

.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.btn:hover .btn-bg {
  width: 18rem;
}
.btn:hover .btn-text {
  z-index: 100;
  color: #ffe;
}
.btn-bg {
  width: 4rem;
  height: 4rem;
  background-color: #333;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.btn-text {
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
}
.btn .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn .arrow-line {
  height: 0.2rem;
  background-color: #ffe;
  position: absolute;
  transform-origin: right;
}
.btn .arrow-line-1 {
  width: 0;
  transform: translateX(-0.7rem);
}
.btn .arrow-line-2 {
  width: 1rem;
  transform: rotateZ(45deg);
}
.btn .arrow-line-3 {
  width: 1rem;
  transform: rotateZ(-45deg);
}/*# sourceMappingURL=main.css.map */