$colors:(
    primary:#333,
    secondary:#ffe,
    tertiary:#f2f0f1,
    quaternary:#f5b149
);
@function color($color-name){
    @return map-get($colors, $color-name)
}
$size:(
    xl:45px,
    lg:40px,
    md:35px,
    sm:30px,
    xs:25px
);
